<div class="container">
  <div id="letter" style='padding:20px;max-width:1300px;'>
   <form name="contact" method="post" action="https://emails-static.drosalys.net/submit/contact/8789ff3d-b666-42b6-9401-fcc5f619e253" novalidate="novalidate" data-drosalys-remote-submit="data-drosalys-remote-submit" style="background: white url('{{ asset('../assets/images/contact-form.png') }}') repeat-x scroll 0% 0%;">

      <br>
       <div class="alert alert-success d-none" data-message-success="d-none">
        Message envoyé avec succès !
      </div>

      <div class="alert alert-danger d-none" data-message-error="d-none">
        Erreur, vérifier le formulaire.
      </div>

      <div class="alert alert-warning d-none" data-message-timeout="d-none">
        Impossible d'envoyer le message. Veuillez réessayer dans quelques minutes.
      </div>
      <div class="in-touch">
        <input type="text" id="nom" placeholder="Nom prénom" name="contact[name]" class="form-control" value=""/>
        <span class="invalid-feedback d-block" data-error-for="contact[name]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
        <input type="text" id="mail" placeholder="Email" name="contact[email]" class="form-control" value=""/>
        <span class="invalid-feedback d-block" data-error-for="contact[email]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
        <input type="text" id="tel" placeholder="Sujet" name="contact[object]" class="form-control" value=""/>
        <span class="invalid-feedback d-block" data-error-for="contact[object]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
      </div>
      <br>
       <textarea id="message" placeholder="Message" rows="8" style='width:100%' name="contact[message]" class="form-control"></textarea>
              <span class="invalid-feedback d-block" data-error-for="contact[message]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
      <br>

      <div class="submit"><input type="submit" value="Envoyer"></div>

    </form>
  </div>
</div>
