{% extends '@templates/base.html.twig' %}

{% block title %}404{% endblock title %}

{% block meta %}{% endblock meta %}

{% block body %}
<body id="404">
{% endblock body %}

{% block h1 %}404 not found{% endblock h1 %}

{% block content %}
<p>
    Oops, page not found.
</p>
{% endblock content %}
