{% extends '@templates/base.html.twig' %}

{% block title %}DevBooster
{% endblock title %}

{% block content %}
  {# START Presentation block #}
  <section class="presentation">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="15000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ asset('../assets/images/pexels-photo-169573.jpeg') }}" alt="" title="">
          <div class="carousel-caption">
            <div class="presentation-titles">
              <div class="display-2">
                On développe vos applications
              </div>

              {#<div class="presentation-link">
                <button type="button" class="btn">Nos réalisations</button>
              </div>#}
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ asset('../assets/images/pexels-photo-546819.webp') }}" alt="" title="">
          <div class="carousel-caption">
            <div class="presentation-titles">
              <div class="display-2">
               On développe vos logiciels sur-mesure
              </div>
              {# <div class="presentation-link">
                <button type="button" class="btn">Contacter-nous</button>
              </div>#}

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="" title="">
          <div class="carousel-caption">
            <div class="presentation-titles">
              <div class="display-2">
               On annalyse vos besoins
              </div>

              {#  <div class="presentation-link">
                <button type="button" class="btn">Devis en ligne</button>
              </div>#}
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

</section>
{# End Presentation block #}
{# Start bloc block #}
<section id="bloc">
  <div class="container">
    <div class="bloc1">
      <h2>
        Qui sommes-nous ?
      </h2>
    </div>
    <div></section>
    {# End bloc block #}
    <section id="team">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="description">

              <p>
                Dev-Booster est une société implantée à Clermont-Ferrand en région Auvergne-Rhône-Alpes, spécialisée dans le développement de logiciels sous
                <strong>Windev</strong>.
              </p>

              <p>
                <strong>
                  Windev ?</strong><hr></p>
              <p>
                Windev est un atelier de génie logiciel (AGL) édité par la société PC SOFT, la première version fut créée en 1993. Ce logiciel permet de concevoir et développer des applications dans tous les domaines. Il s’agit d’un outil de développement complet, intégrant tous les outils nécessaires. Windev utilise son propre langage de programmation, le Wlangage, un langage simple, puissant et très rapide à prendre en main. 
              </p>

              <p>
                <strong>
                  A quoi sert Windev ?</strong><hr></p>
              <p>
                Windev permet de développer des applications ergonomiques et agréables pour l’utilisateur grâce à la possibilité d’utiliser des chartes graphiques par défaut. Ainsi, l’expérience utilisateur est améliorée et le développeur n’est pas obligé de posséder de grandes compétences graphiques. Windev dispose de fonctionnalités utiles et simples d’utilisation. Le développeur pourra par exemple effectuer des tests sur l’application afin de prévoir certains bugs éventuels. Windev est livré avec une puissante et fiable base de données HFSQL. De plus, le logiciel est ouvert à toutes les bases de données du marché telles que Oracle, DB2, Informix, AS/400 etc… Windev est très utile pour développer des applications, initialement prévu pour Windows, cet atelier de génie logiciel supporte également d’autres systèmes d’exploitations tels que Linux, Java ou encore . NET.
              </p>

            </div>

          </div>

        </section>
        {# End Team block #}
        {# Start about-us block #}
        <section class="about-us">
          <div class="container">
            <div class="row align-items-stretch justify-content-center ">
              <div class="col-12 col-md-6
				   col-lg-3 ">
                <i class="fas fa-users"></i>
                <h3>Notre équipe</h3>
                <p>Une équipe passionnée
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <i class="fas fa-euro-sign"></i>
                <h3>Nos tarifs</h3>
                <p>Des prix raisonnables</p>
              </div>

              <div class="col-12 col-md-6 col-lg-3">
                <i class="fas fa-thumbs-up"></i>
                <h3>Notre savoir-faire</h3>
                <p>Une équipe expérimentée</p>
              </div>

            </div>
          </div>
        </section>
        {# End about-us block #}
        {# Start bloc block #}
        <section id="bloc">
          <div class="container">
            <div class="bloc1">
              <h2>
                Découvrez nos prestations
              </h2>
            </div>
            <div></section>

            {# End bloc block #}
            {# Start Realisation block #}
            <section class="realisation">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6 col-lg-4">
                    <i class="fab fa-linux"></i>
                    <h3>Développement d'applications sous linux</h3>

                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <i class="fab fa-windows"></i>
                    <h3>Développement d'applications sous Windows</h3>

                  </div>

                  <div class="col-12 col-md-6 col-lg-4">
                    <i class="fas fa-american-sign-language-interpreting"></i>
                    <h3>Développement de logiciels sur mesure</h3>

                  </div>

                  <div class="col-12 col-md-6 col-lg-4">
                    <i class="fab fa-java"></i>
                    <h3>Développement de logiciels sur Java</h3>

                  </div>

                </div>
              </div>
            </section>
            {# End Realisation block #}
            {# Start bloc block #}
            <section id="bloc">
              <div class="container">
                <div class="bloc1">
                  <h2>
                    Ils parlent de nous
                  </h2>

                </div>
                <div></section>
                {# End bloc block #}

                {# Start Testimony block #}
                <section class="testimony">
                  <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel" data-slide-to="1"></li>
                      <li data-target="#carousel" data-slide-to="2"></li>
                      <li data-target="#carousel" data-slide-to="3"></li>
                      <li data-target="#carousel" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ asset('../assets/images/test3.jpg') }}" alt="" title="">
                        <div class="carousel-caption">

                          <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"</p>
                            <small>Monsieur
                            </small>
                          </blockquote>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('../assets/images/test3.jpg') }}" alt="" title="">
                        <div class="carousel-caption">

                          <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"</p>
                            <small>Madame</small>
                          </blockquote>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('../assets/images/test3.jpg') }}" alt="" title="">
                        <div class="carousel-caption">

                          <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"</p>
                            <small>Madame</small>
                          </blockquote>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('../assets/images/test3.jpg') }}" alt="" title="">
                        <div class="carousel-caption">

                          <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua".</p>
                            <small>Monsieur</small>
                          </blockquote>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('../assets/images/test3.jpg') }}" alt="" title="">
                        <div class="carousel-caption">

                          <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"</p>
                            <small>Madame</small>
                          </blockquote>
                        </div>
                      </div>
                    </div>

                  </div>

                </section>
                {# End Testimony block #}
                {# Start bloc block 
                <section id="bloc">
                  <div class="container">
                    <div class="bloc1">
                      <h2>
                        Nos réalisations
                      </h2>

                    </div>
                    <div></section>
                     End bloc block #}
                {# Start polaroids block 
                    <section id="polaroids">
                      <form>
                        <div class="container">
                          <div class="card-deck">
                            <div class="row">
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card-one">
                                  <img class="card-img-top" src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="card ">
                                  <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="#" class="btn">En savoir plus</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card-two">
                                  <img class="card-img-top" src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="card ">
                                  <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="#" class="btn">En savoir plus</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card-three">
                                  <img class="card-img-top" src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="card ">
                                  <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="#" class="btn">En savoir plus</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card-four">
                                  <img class="card-img-top" src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="card ">
                                  <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="#" class="btn">En savoir plus</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card-five">
                                  <img class="card-img-top" src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="card ">
                                  <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="#" class="btn">En savoir plus</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card-six">
                                  <img class="card-img-top" src="{{ asset('../assets/images/pexels-photo-5473298.webp') }}" alt="card ">
                                  <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <a href="#" class="btn">En savoir plus</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>

                    </section>
                    End polaroids block #}
                {# Start bloc block #}
                <section id="bloc">
                  <div class="container">
                    <div class="bloc1">
                      <h2>
                        On est ici !!
                      </h2>
                    </div>
                    <div></section>
                    {# End bloc block #}
                    {# Start find-us block #}
                    <section class="find-us">
                      <div class="container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.0790587201286!2d3.0873062150318815!3d45.76960582103441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f71bec6281b3b7%3A0x4644643fc55faae0!2s27%20Rue%20Raynaud%2C%2063000%20Clermont-Ferrand!5e0!3m2!1sfr!2sfr!4v1624967325119!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                      </div>
                    </section>
                    {# End find-us block #}
                    {# Start bloc block #}
                    <section id="bloc">
                      <div class="container">
                        <div class="bloc1">
                          <h2>
                            Restons en contact
                          </h2>
                        </div>
                        <div></section>
                        {# End bloc block #}

                      {% endblock content %}
