<div class="footer-basic">
      <footer>
      <div class="container-fluid">
        <div class="social">
          <a href="https://fr.linkedin.com/in/j%C3%A9r%C3%A9my-depoortere-b0715043" rel="external" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" rel="external" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" rel="external" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

        <p class="copyright">Dev booster © 2021</p>
        <div class="row justify-content-center">
          <div class="col-12">
          <div class="contact">
           Réalisé par <a href="https://drosalys.fr" rel="external" target="_blank"> Drosalys.com​</a>
          </div>
          </div>
          </div>
          </div>
      </footer>
    </div>