.about-us {
    margin-top: 30px;
    margin-bottom: 60px;
    background: url('../assets/images/pexels-photo-169573.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 180px;
    text-align: center;
    color: white;
    img {
        padding-bottom: 40px;
        padding-top: 120px;
    }
    p {
        font-size: 16px;
        text-align: center;
    }
    h3 {
        font-weight: bold;
    }
}

@media (max-width: 930px) {
    .about-us {
        text-align: center;
    }
}