header {
    padding-bottom: 20px;
    .navbar-brand {
        @include float-left;
        img {
            width: 120px;
        }
    }
    .nav-link {
        color: #40b1dd !important;
        font-weight: bold;
    }
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: right;
}