.col-sm-6,
.col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: -11px;
}

.card-deck {
    .btn {
        display: flex;
        justify-content: center;
    }
    p {
        text-align: center;
    }
}

.card-one,
.card-two,
.card-three,
.card-four,
.card-five,
.card-six {
    background: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px 25px 10px;
    margin: 0 0 27px 30px;
    color: #8B8B8B;
    -moz-box-shadow: 0px 1px 5px 0px #656565;
    -webkit-box-shadow: 0px 1px 5px 0px #656565;
    -o-box-shadow: 0px 1px 5px 0px #656565;
    box-shadow: 0px 1px 5px 0px #656565;
    transform: rotate(-1deg);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=85);
    filter: alpha(opacity=85);
}

.card-one:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: alpha(opacity=100);
}

.card-one {
    transform: rotate(1deg);
}

.card-five {
    transform: rotate(-8deg);
}

.card-two,
.card-six {
    transform: rotate(-1deg);
}

.card-three {
    transform: rotate(10deg);
}