.job {
    margin-top: 120px;
    margin-bottom: 140px;
    img {
        width: 100%;
        max-height: 380px;
    }
    .text-container {
        padding-right: 180px;
    }
    .job-link {
        margin-top: 15%;
        margin-left: 28px;
    }
}

@media (max-width: 768px) {
    .job {
        button {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 0px;
        }
        img {
            padding-top: 30px;
        }
        .text-container {
            padding-right: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .job {
        button {
            padding-left: 5px;
            padding-right: 5px;
        }
        img {
            padding-top: 30px;
        }
    }
}