#team {
    margin-top: 90px;
    margin-bottom: 40px;
    .description {
        color: #002b5c;
        margin-bottom: 50px;
        text-align: center;
        h2 {
            margin-bottom: 40px;
        }
    }
    .desc h2 {
        padding-left: 20px;
        color: #002b5c;
        border-left: solid;
        float: left;
        margin-left: 20px;
    }
    button {
        color: #002b5c;
        text-decoration: none;
        background-color: white;
        border: 2px solid #002b5c;
        margin-left: 80px;
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 25px;
        box-shadow: 8px 8px 12px #aaa;
        text-shadow: 8px 8px 12px #aaa;
        text-transform: uppercase;
    }
    .description-link {
        margin-top: 15%;
        margin-left: 90px;
    }
}

@media (max-width: 768px) {
    .team {
        margin-top: 90px;
        margin-bottom: 40px;
    }
    .team a {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -40px;
    }
    .desc h2 {
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .desc h2 {
        margin-bottom: 30px;
        margin-left: -80px;
    }
    .desc {
        padding-left: 20px;
    }
}