    @import 'variables';
    @import 'libs/bootstrap';
    @import 'libs/fontawesome';
    @import 'header';
    @import 'presentation';
    @import 'team';
    @import 'about-us';
    @import 'realisation';
    @import 'testimony';
    @import 'project';
    @import 'ourjob';
    @import 'masonry';
    @import 'bloc';
    @import 'footer';
    // Uncomment to include Bootstrap.
    // Uncomment to include Fontawesome. See the file to enable Pro version.
    body {
        font-family: Castoro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow-x: hidden;
    }
    
    i {
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    iframe {
        width: 100%;
        // filter: brightness(40%);
        filter: saturate(20%);
        border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
    }
    
    #letter {
        border: solid white;
        margin: 4px;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
        margin-bottom: 30px;
        .submit input {
            align-self: center;
            background-color: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            width: 150px;
            color: #3eafdb;
            letter-spacing: 1px;
            margin-top: 10px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
        }
        .submit input:hover {
            background-color: #3eafdb;
            color: white;
        }
         ::placeholder {
            color: #3eafdb;
            text-align: left;
        }
        textarea {
            align-self: center;
            background: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            color: #3eafdb;
            letter-spacing: 1px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        }
        .in-touch {
            display: flex;
            justify-content: space-between;
            #tel,
            #mail,
            #nom {
                align-self: center;
                background: transparent;
                padding: 0.5rem 0.5rem;
                margin: 0 1rem;
                transition: all .5s ease;
                color: #3eafdb;
                letter-spacing: 1px;
                outline: none;
                box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
                border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
            }
        }
        @media(max-width: 1000px) {
            .in-touch {
                #tel {
                    display: none;
                }
            }
        }
        @media(max-width: 780px) {
            .in-touch {
                display: block;
            }
        }
    }
    
    .btn {
        background-color: white;
        opacity: 0.5;
        margin-bottom: 10px;
        color: #3eafdb;
    }
    
    .description p {
        color: #3eafdb;
    }
    
    #contact {
        border: solid white;
        margin: 4px;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
        margin-bottom: 30px;
        .submit input {
            align-self: center;
            background-color: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            width: 150px;
            color: #3eafdb;
            letter-spacing: 1px;
            margin-top: 10px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
        }
        .submit input:hover {
            background-color: #3eafdb;
            color: white;
        }
         ::placeholder {
            color: #3eafdb;
            text-align: left;
        }
        textarea {
            align-self: center;
            background: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            color: #3eafdb;
            letter-spacing: 1px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        }
        .in-touch {
            display: flex;
            justify-content: space-between;
            #tel,
            #mail,
            #nom {
                align-self: center;
                background: transparent;
                padding: 0.5rem 0.5rem;
                margin: 0 1rem;
                transition: all .5s ease;
                color: #3eafdb;
                letter-spacing: 1px;
                outline: none;
                box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
                border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
            }
        }
        @media(max-width: 1000px) {
            .in-touch {
                #tel {
                    display: none;
                }
            }
        }
        @media(max-width: 780px) {
            .in-touch {
                display: block;
            }
        }
    }